<template>
  <div class="categories">
    <div class="categories-wrapper">
      <div class="first-image">
        <img src="@/assets/first-image.svg" alt="" />
      </div>
      <div class="info-block">
        <div class="mkpp category-type">
          <div class="info-caption">
            МКПП
          </div>
          <div class="hours">
            <h2>56</h2>
            <span>Часов вождения</span>
          </div>
          <div class="details">
            <div>
              <h4>24</h4>
              <span>Автодром</span>
            </div>
            <div>
              <h4>32</h4>
              <span>По городу</span>
            </div>
          </div>
        </div>

        <v-divider vertical class="vertical-divider"></v-divider>
        <v-divider class="mt-10 mb-10 horizontal-divider"></v-divider>

        <div class="akpp category-type">
          <div class="info-caption">
            АКПП
          </div>
          <div class="hours">
            <h2>54</h2>
            <span>Часов вождения</span>
          </div>
          <div class="details">
            <div>
              <h4>22</h4>
              <span>Автодром</span>
            </div>
            <div>
              <h4>32</h4>
              <span>По городу</span>
            </div>
          </div>
        </div>

        <v-divider vertical class="vertical-divider" />
        <v-divider class="mt-10 mb-10 horizontal-divider" />

        <div class="theory category-type">
          <div class="info-caption">
            Теория
          </div>
          <div class="hours">
            <h2>199</h2>
          </div>
        </div>
      </div>
      <div class="second-image">
        <img src="@/assets/seconds-image.svg" alt="" />
      </div>
    </div>
    <div class="offerta">
      <p>
        *Обращаем Ваше внимание на то, что данный интернет-сайт носит
        исключительно информационный характер и ни при каких условиях
        информационные материалы и цены, размещенные на сайте, не являются
        публичной офертой, определяемой положениями Статей 435 и 437
        Гражданского кодекса РФ.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>
<style lang="sass">
.categories
  padding: 54px

  .offerta
    width: 60%
    margin-top: 34px

    p
      font-size: 11px

  .categories-wrapper
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap

    .info-block
      display: flex
      justify-content: space-between
      width: 50%

      .category-type
        margin-left: 34px

      .hours
          span
            font-size: 13px

      .details
        margin-top: 20px
        display: flex

        div
          margin-right: 15px

    .first-image, .second-image
      img
        width: 70%

  .horizontal-divider
    display: none

  @media only screen and (max-width: 768px)
    .info-block
      display: block !important

    .vertical-divider
      display: none
    .category-type
      margin-left: 0 !important

  @media only screen and (max-width: 1368px)
    .first-image, .second-image
      img
        display: none
    .info-block
      width: 100% !important

    .category-type
      width: 100%

    .horizontal-divider
      display: block
</style>
