<template>
  <div class="contacts">
    <div class="contact-wrapper">
      <div class="contact mb-4">
        <div class="image">
          <img src="@/assets/place.svg" alt="" />
        </div>
        <div class="address">
          <p>г. Бердск, ул. Вокзальная д. 26, офис 105.</p>
        </div>
        <div class="phone-number">
          <h3><a href="tel:+79139130052">+7 (913) 913-00-52</a></h3>
        </div>
      </div>
    </div>
    <div class="time mt-3 mb-3">ежедневно с 10:00 до 19:00</div>
    <div class="map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad074ffd7210cf66220ab9e108d0d1ae45cde7607cc80ea597bd73dcc2f1ce1c4&amp;source=constructor"
        width="100%"
        height="442"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>
<style lang="sass">
.contacts
  padding: 54px 14px 0 14px

  .contact-wrapper
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap

    .contact
      width: 400px
      padding: 24px
      border: 1px solid #C4C4C4
      border-radius: 20px
      text-align: center

  .time
    text-align: center
</style>
