<template>
  <div class="parent">
    <splide :options="options" v-if="instructors && instructors.length > 0">
      <splide-slide v-for="(instructor, i) in instructors" :key="i">
        <div class="instructor-card" v-if="instructor.Name">
          <v-card
              max-width="260"
              height="350px"
              class="mx-auto"
          >
            <img class="img-instructor" :src="apiUrl + instructor.photo.url" alt="">

            <v-card-text class="text--primary">
              <div class="font-weight-bold pb-1">{{ instructor.Name }}</div>
              <div v-if="instructor.driving_experience && instructor.instructor_experience">
                Водительский стаж: <span class="font-weight-bold">{{ instructor.driving_experience }} лет</span>
                Инструкторский стаж: <span class="font-weight-bold">{{ instructor.instructor_experience }} лет</span>
              </div>
              <div class="text-center" v-if="instructor.type">
                {{ instructor.type }}
              </div>

            </v-card-text>
          </v-card>
        </div>
      </splide-slide>
    </splide>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
//@ts-ignore
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import {axios} from "@/main";

@Component({
  components: {
    Splide,
    SplideSlide,
  },
})
export default class Instructors extends Vue {
  options: any = {
    type: "loop",
    rewind : false,
    //@ts-ignore
    perPage: this.$checkMobileBrowser() ? 1 : 3,
    //@ts-ignore
    perMove: this.$checkMobileBrowser() ? 1 : 3,
    gap: "2rem",
    pagination: false
  };

  apiUrl: string = 'https://api-academia-vogdenia.ru';
  instructors: Array<any> = []
  async created() {
    await this.getReviews();
  }
  async getReviews() {
    try {
      const response = await axios.get(this.apiUrl + '/instructors');
      this.instructors = response.data;
      //@ts-ignore
      if (!this.$checkMobileBrowser()) {
        if (this.instructors.length >= 3) {
          this.options.perPage = 3;
        } else {
          this.options.perPage = this.instructors.length;
          this.options.perMove = this.instructors.length;
        }
      }
    } catch (err) {}
  }
}
</script>
<style lang="sass" >
.parent
  padding: 54px
  position: relative

  .instructor-card
    padding: 20px 0

    .img-instructor
      width: 100%
      max-height: 240px
      object-fit: cover
      object-position: top

  .splide--loop
    width: 100%
    margin: 0 auto

    .splide__arrow--next
      right: 0
    .splide__arrow--prev
      left: 0


@media only screen and (max-width: 768px)
  .parent
    padding: 14px
</style>
