<template>
  <div class="prices">
    <div class="price-wrapper">
      <v-col class="price-item" lg="3" md="12" sm="12">
        <div class="price-caption" style="height:110px">
          <h2>ОБУЧЕНИЕ</h2>
          <span>вождению транспортных средств категории "В"</span>
        </div>
        <div class="cost mt-10 mb-10">
          <h2>27 000 ₽</h2>
        </div>
        <div class="description">
          Полный курс теории и вождения 54 ч. атвомат или 56 ч. механика
        </div>
        <v-btn
          color="#F6E22C"
          class="submit-button"
          @click="scrollToTop()"
        >
          Оставить заявку
        </v-btn>
      </v-col>
      <v-col class="price-item" lg="3" md="12" sm="12">
        <div class="price-caption" style="height:110px">
          <h2>СТУДЕНТЫ</h2>
          <span>очных отделений и несовершеннолетние</span>
        </div>
        <div class="cost mt-10 mb-10">
          <h2>25 000 ₽</h2>
        </div>
        <div class="description">
          Полный курс теории и вождения 54 ч. атвомат или 56 ч. механика
        </div>
        <v-btn
          color="#F6E22C"
          class="submit-button"
          @click="scrollToTop()"
        >
          Оставить заявку
        </v-btn>
      </v-col>
      <v-col class="price-item" lg="3" md="12" sm="12">
        <div class="price-caption" style="height:110px">
          <h2>ОБМЕН</h2>
          <span>водительского удостоверения для иностранных граждан</span>
        </div>
        <div class="cost mt-10 mb-10">
          <h2>5 000 ₽</h2>
        </div>
        <div class="description">
          После прохождения теоретического и двух практических экзаменов
        </div>
        <v-btn
          color="#F6E22C"
          class="submit-button"
          @click="scrollToTop()"
        >
          Оставить заявку
        </v-btn>
      </v-col>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {
  scrollToTop() {
    window.scrollTo(0, 0)
  }
}
</script>
<style lang="sass">
.prices
  padding: 54px 14px

  .price-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    .price-item
      // width: 300px

      border: 1px solid #504E4E
      border-radius: 20px

      padding: 14px 24px
      margin-bottom: 15px

      text-align: center

      .cost
        font-size: 24px

      .description, .price-caption
        width: 60%
        margin: 0 auto

      .submit-button
        margin-top: 24px
        border-radius: 30px
        text-transform: none
</style>
