<template>
  <div class="profile"> 
    
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Header from '@/components/Header.vue'

@Component({
  components: {
    Header
  }
})
export default class Home extends Vue {
  sports_kinds: any = [
    {
      label: 'Фитнес',
      id: 1
    },
    {
      label: 'Футбол',
      id: 2
    },
    {
      label: 'Тяжелая атлетика',
      id: 3
    },
    {
      label: 'Баскетбол',
      id: 4
    }
  ]
}
</script>
<style lang="sass">
.profile
  height: 100%
  max-width: 1240px
  width: 1240px
  margin: 0 auto
  background-color: #f2f3f8
</style>
