<template>
  <div class="reviews" v-if="feedbacks && feedbacks.length > 0">
    <div class="left-image">
      <img src="@/assets/left-image.svg" alt="">
    </div>
    <v-carousel height="100%" hide-delimiters v-model="model" v-if="this.$checkMobileBrowser()">
      <v-carousel-item
        v-for="(feedback, i) in feedbacks"
        :key="i"
      >
        <div class="review">
          <div class="name">
            <img src="@/assets/guest.png" alt="" /> <span>{{ feedback.name }}</span>
          </div>
          <v-divider class="mt-4 mb-4" />
          <div class="text">
            {{ feedback.comment }}
          </div>
        </div>
      </v-carousel-item>
    </v-carousel>
    <splide :options="options" v-else>
      <splide-slide v-for="(feedback, i) in feedbacks" :key="i">
        <div class="review">
          <div class="name">
            <img src="@/assets/guest.png" alt="" /> <span>{{ feedback.name }}</span>
          </div>
          <v-divider class="mt-4 mb-4" />
          <div class="text">
            {{ feedback.comment }}
          </div>
        </div>
      </splide-slide>
    </splide>
    <div class="right-image">
      <img src="@/assets/right-image.svg" alt="">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// @ts-ignore
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import "@splidejs/splide/dist/css/themes/splide-default.min.css";
import { axios } from "@/main";

@Component({
  components: {
    Splide,
    SplideSlide,
  },
})
export default class Home extends Vue {
  options: any = {
    type: "loop",
    perPage: 2,
    perMove: 1,
    gap: "2rem",
  };

  feedbacks: Array<any> = []
  async created() {
    await this.getReviews()
  }
  async getReviews() {
    try {
      const response = await axios.get('https://api-academia-vogdenia.ru/feed-backs')
      this.feedbacks = response.data
    } catch (err) {}
  }
}
</script>
<style lang="sass">
.reviews
  padding: 54px
  position: relative

  .left-image, .right-image
    position: absolute

    img
      width: 60%
  
  .left-image
    bottom: -15px
    left: 5px

  .right-image
    top: 15px
    right: 0

  .splide--loop
    width: 80%
    margin: 0 auto
  .review
    padding: 24px
    border-radius: 20px

    .name
      img
        width: 30px
        height: 30px
        margin-right: 10px

@media only screen and (max-width: 768px)
  .right-image, .left-image
    display: none
  .reviews
    padding: 14px
</style>
