<template>
  <div class="footer-information">
    <v-expansion-panels multiple v-model="panel">
      <v-expansion-panel class="mb-7">
        <v-expansion-panel-header>
          Контактная информация
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <p><strong>Email:</strong> 11.11@outlook.com</p>
          <p><strong>Телефон</strong> +7 (913) 913-00-52</p>
          <p><strong>График работы:</strong> ПН-ПТ 10:00 - 19:00 СБ-ВС выходной</p>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Юридическая информация
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <p><strong>Организация:</strong> ООО "Академия Вождения"</p>
          <!-- <p><strong>Генеральный директор:</strong> Карандашов Александр Валентинович.</p> -->
          <v-spacer vertical></v-spacer>
          <p><strong>ИНН:</strong> 5408283210</p>
          <p><strong>КПП:</strong> 540601001</p>
          <p><strong>ОГРН:</strong> 1105476068455</p>
          <p><strong>Расчетный счет:</strong> 40702810874890000205</p>
          <p><strong>Банк:</strong> СИБИРСКИЙ ФИЛИАЛ ПАО РОСБАНК</p>
          <p><strong>БИК:</strong> 040407388</p>
          <p><strong>Корр. счет:</strong> 30101810000000000388</p>
          <p>
            <strong>Юридический адрес:</strong> 630007, Новосибирская обл, Новосибирск г, Красный
            пр-кт, дом № 1, офис 316А.
          </p>
          <p><strong>Учебный класс 1:</strong> г. Бердск, ул. Вокзальная д. 26, офис 105.</p>
          <p><strong>Учебный класс 2:</strong> г. Новосибирск, ул. Ильича д. 6.</p>
          <p><strong>Автодром 1:</strong> г. Бердск</p>
          <p><strong>Автодром 2:</strong> г. Искитим</p>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Home extends Vue {
  panel: Array<number> = [0, 1]
}
</script>
