<template>
  <div class="header-wrapper">
    <v-app-bar
      class="v-app-bar-header"
      color="accent-4"
      dense
      dark
    >
      <v-toolbar-title>Logo</v-toolbar-title>

      <v-spacer></v-spacer>

      <div class="right-part d-flex align-center">
        <div class="username mr-4">
          <h4>Привет, Гость</h4>
        </div>
        <div class="avatar">
          <img src="@/assets/guest.svg" alt="">
        </div>
      </div>

    </v-app-bar>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
    
  }
})
export default class Home extends Vue {

}
</script>
<style lang="sass">
.header-wrapper
  
  .v-app-bar-header
    background-color: #fff !important
    box-shadow: none !important
    border: 1px solid #eee !important
    color: #333 !important

    .right-part
      .username
        color: #333
        height: fit-content
      .avatar
        width: 35px
        height: 35px
</style>
