<template>
  <div id="app">
    <v-app class="height-100">
      <div class="main-container">
        <MeetSection/>

        <div class="divider-wrapper main-info-divider">
          <h2>Основные сведения</h2>
        </div>
        <InfoSection/>

        <div class="mt-15 mb-1 divider-wrapper">
          <h2>Категории</h2>
        </div>

        <Categories/>

        <div class="mt-0 mb-1 divider-wrapper">
          <h2>Цены</h2>
        </div>

        <Price/>

        <div class="mt-0 mb-1 divider-wrapper">
          <h2>Инструкторы</h2>
        </div>

        <Instructors/>

        <div class="mt-0 mb-1 divider-wrapper">
          <h2>Отзывы</h2>
        </div>

        <Reviews/>

        <div class="mt-0 mb-1 divider-wrapper">
          <h2>Контакты</h2>
        </div>

        <Contacts/>

        <!-- <Footer/> -->
      </div>
    </v-app>
  </div>
</template>
<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import Header from '@/views/Header.vue'
import MeetSection from '@/views/MeetSection.vue'
import InfoSection from '@/views/InfoSection.vue'
import Categories from '@/views/Categories.vue'
import Price from '@/views/Price.vue'
import Reviews from '@/views/Reviews.vue'
import Contacts from '@/views/Contacts.vue'
import Footer from '@/components/Footer.vue'
import Instructors from "@/views/Instructors.vue";

@Component({
  components: {
    Instructors,
    MeetSection,
    InfoSection,
    Categories,
    Price,
    Reviews,
    Contacts,
    Footer
  }
})
export default class App extends Vue {
  callToPhone(phone: string) {
    window.location.assign(`tel:${phone}`)
  }
}
</script>
<style lang="sass">
html, body
  // overflow: hidden !important
  padding: 0
  margin: 0
  height: 100%

#app
  font-family: 'Archivo', sans-serif !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  height: 100%

  .v-toolbar__content, .v-toolbar__extension
    padding: 4px 42px 4px 23px

  .header--call-phone-img
    cursor: pointer
    width: 35px

    transition: all .3s ease

    &:hover
      width: 45px


  .height-100
    height: 100%
  .max-height-100
    max-height: 100%
  .width-100
    width: 100%
  .white-color-text
    color: #fff

  .main-container

    .divider-wrapper
      background: #F6E22C
      height: 60px
      margin-bottom: 75px
      display: flex
      align-items: center
      justify-content: center

@media only screen and (max-width: 768px)
  .v-toolbar__content, .v-toolbar__extension
    padding-right: 15px
  .main-info-divider
    margin-bottom: 10px !important
</style>
